<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>simple-calc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D9491D71EA6B0BC00E71199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D9491EB1EA6B0BD00E71199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D9491F61EA6B0BD00E71199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
